//_contact
 /* CONTACT SECTION start */

.contact {
	background-color: #fff;
	min-height: 100vh;
		.container {
			align-items: center;
		}
}

.contact-left-side {
	width: 50%;
		h3 {
			padding: .625rem;
		}
		.contact-left-side .container{
			padding-left: 3rem;
		}
		.rotate {
			transform: rotate(270deg);
		}
}

.contact-right-side {
	background-color: #fff;
	width: 50%;
	flex-wrap: wrap;
	align-items: center;
		.contact-right-side .container{
			padding-left: 3rem;
		}
		.contact-content-box {
			margin-top: 3.125rem;
			flex-wrap: wrap;
		}
		.item-box {
			width: 100%;
			padding: 1.25rem 0;
			align-items: center;
		}
		.item-text {
			width: 100%;
			padding-left: 1.562rem;
		}
		h3 {
			padding: 1.25rem 0;
		}
		i {
			font-size: 3rem;
			padding: .625rem;
			color: $darker-grey;
				&:hover{
					color: $coral;
				}
		}	
}

.contact-form {
	flex-wrap: wrap;
	align-content: center;
	display: block;
	width: 100%;
		p {
			margin: 1.25rem 2.5rem;
			text-align: justify;
		}
		form {
			padding: 2.5rem 2.5rem 0;
		}
		input, textarea {
			width: 100%;
			margin-top: .625rem;
			margin-bottom: .625rem;
		}
		.form-style {
			padding: 1rem;
			border: 1px solid $light-grey;
			color: $darker-grey;
			border-radius: 2px;
			font-size: .75rem;
			font-family: $second-font;
			width: 400;
		}
		.submit {
			justify-content: center;
		}
}

 /* CONTACT SECTION end */
