//_masonry
 /* MASONRY start */

.grid {
	margin: 25px;
}

.grid-item { 
	width: 25%;
	padding: 10px;
	position: relative;
		.img:hover{
			content: "";
			opacity: 0.7;
				&::before{
					content: "View project";
					text-align: center;
					text-transform: uppercase;
					color: $darker-grey;
					font-family: $second-font;
					padding: 20px;
					border: 2px solid $coral;
					border-radius: 90%;
					background-color: $coral;
					width: 40%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
					z-index: 3;
				}
		}
}

.works{
	background-color: $light-grey;
}

.works .container{
	width: 100%;
	align-items: center;
	background-color: #fff;
	padding: 30px 0;
	box-shadow: 4px 4px 7px 0px rgba(112,106,112,1);
}

.fancy-box-slide{
	display: none;
	min-width: 60%;
	min-height: 60%;
	background-color: $coral;
		i {
			font-size: 60px;
			color: $darker-grey;
			display: inline-block;
		}
}

.categorys{
	width: 100%;
		a{
			font-size: 0.85rem;
			font-weight: 500;
			letter-spacing: 0.1em;
			font-family: $main-font;
			color: $darker-grey;
			text-decoration: none;
			text-transform: uppercase;
			text-align: left;
				&:hover{
					text-decoration: line-through;
					text-decoration-color: $coral;
				}
		}
		li{
			list-style: none;
			padding: 5px;
		}
}

 /* MASONRY end */