//_navigation
 /* NAVIGATION start */

.main-nav {
	a {
		font-size: 0.85rem;
		font-weight: 500;
		letter-spacing: 0.1em;
		font-family: $main-font;
		color: $darker-grey;
		text-decoration: none;
		text-transform: uppercase;
			&:hover{
				color: $coral;
			}
	}
	.menu-item {
		align-items:center;
		list-style: none;
		padding-right: 1.25rem;
	}
}

.top-nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
		.container {
			justify-content: space-between;
			align-items: center;
		}
}

.grey-nav {
	background-color: $light-grey;
}
.show{
	display: block;
}
.hidden{
	display: none;
}

.burger {
	display: none;
}

.burger i {
	padding-right: 2rem;
	font-size: 2rem;
	.main-nav{
		background-color: $light-grey;
	}
}
 
.social-nav {
	justify-content: space-between;
	align-items: center;
	background-color: $light-grey;
		i {
			color: $darker-grey;
			padding-left: .32rem;
			font-size: 1.5rem;
			text-align: center;
			list-style: none;
				&:hover {
					color: $coral;
				}
		}
		.copy-right {
			width: 100%;
			justify-content: space-between;
		}
		p {
			margin: 1.25rem 0;
			padding-left: 3.125rem;
		}
		ul {
			align-items:center;
			list-style: none;
			margin: 1.25rem;
		}
}

.logo {
	width: 18%;
	padding: .625rem 3.125rem;
}

li {
	margin-right: 1.875rem;
}

 /* NAVIGATION end*/

