//_navigation
 /* NAVIGATION strat */

.main-nav {
	a {
		font-size: 0.85rem;
		font-weight: 500;
		letter-spacing: 0.1em;
		font-family: $main-font;
		color: $darker-grey;
		text-decoration: none;
		text-transform: uppercase;
			&:hover{
				color: $coral;
			}
	}
	.menu-item {
		align-items:center;
		list-style: none;
		padding-right: 20px;
	}
}

.top-nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	.container {
		justify-content: space-between;
		align-items: center;
	}
}

.grey-nav{
	display: none;
}


.burger  {
	display: none;
}

@media all and (max-width: 600px) {
	.menu-item {
		display: none;
	}
	.main-nav{
	flex-wrap: wrap;
	align-content: flex-end;	
	}
	.menu-item.show {
		display: block;
	}
	.menu-item {
		width: 100%;
		text-align: right;
		margin: 10px;
	}

	.burger {
		display: block;
		text-align: right;
	}
	.grey-nav.show{
		display: block;
		background-color: $light-grey;
	}
	.main-nav.hidden{
		display: none;
	}
}

.burger i {
	padding-right: 30px;
	font-size: 30px;
}
 
.social-nav {
	justify-content: space-between;
	align-items: center;
	background-color: $light-grey;
		i {
			color: $darker-grey;
			padding-left: 5px;
			font-size: 1.5rem;
			text-align: center;
			list-style: none;
				&:hover {
					color: $coral;
				}
		}
		.copy-right {
			width: 100%;
			justify-content: space-between;
		}
		p {
			margin: 20px 0;
			padding-left: 50px;
		}
		ul {
			align-items:center;
			list-style: none;
			margin: 20px;
		}
}

.logo {
	width: 18%;
	padding: 10px 50px;
	img{
		width: 100%;
	}
}

li {
	margin-right: 30px;
}

 /* NAVIGATION end*/

