//_services
/* SERVICES start */
.services .container{
	width: 100%;
	flex-wrap: wrap;
}

.service-title {
	width: 100%;
	justify-content: flex-end;
	padding: 1.8rem 6.25rem 0.4rem 0;
}

.services {
	background-color: #fff;
	min-height: 100vh;
		.services-content {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		.service {
			width: 33.33%;
			padding: 1.25rem;
			flex-wrap: wrap;
			justify-content: center;
				i {
					font-size: 5rem;
					color: $coral;
					padding: 2rem 0;
				}
				p{
					padding: 1rem 2rem;
				}
				p:last-child {
			      	text-align: justify;
			    }
		}
}

.text-part {
	text-align: center;
}

/* SERVICES end */