/* RESET Start */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* RESET End */
/* NAVIGATION start */
.main-nav {
  width: 100%;
}

.main-nav a {
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Encode Sans", sans-serif;
  color: #212121;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #ff8080;
}

.main-nav .menu-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding-right: 1.25rem;
}

.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.top-nav .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger {
  display: none;
}

.burger i {
  padding-right: 2rem;
  font-size: 2rem;
}

.social-nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e2e2e2;
}

.social-nav i {
  color: #212121;
  padding-left: .32rem;
  font-size: 1.5rem;
  text-align: center;
  list-style: none;
}

.social-nav i:hover {
  color: #ff8080;
}

.social-nav .copy-right {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-nav p {
  margin: 1.25rem 0;
  padding-left: 3.125rem;
}

.social-nav ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 1.25rem;
}

.logo {
  width: 18%;
  padding: .625rem 3.125rem;
}

li {
  margin-right: 1.5rem;
}

/* NAVIGATION end*/
/* GENERAL start*/
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: .1em;
  color: #212121;
  margin: .32rem 0;
}

h1, h2, h3, h4 {
  font-family: "Encode Sans", sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #212121;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 5.2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #767676;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #212121;
  margin: 0;
  padding: .625rem 0;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
}

.min-height {
  min-height: 100vh;
}

.section-padding {
  padding: 2.5rem;
}

.button {
  display: inline-block;
  padding: .625rem 1.875rem .625rem;
  margin: 1.562rem 0;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #767676;
}

.button:hover {
  border-color: #ff8080;
  background-color: #ff8080;
}

[data-integer]::before {
  content: attr(data-integer) " ";
  color: #ff8080;
  font-size: 3rem;
  font-weight: 700;
  vertical-align: 1.563rem;
}

.grey-nav {
  background-color: #e2e2e2;
}

/* GENERAL end */
/* HERO start */
.hero {
  background-size: cover;
  background-position: center;
}

.hero-left-side {
  background-color: #fff;
  width: 50%;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-left-side::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 15rem;
  height: 26rem;
  border: .625rem solid #fff;
  border-right: none;
}

.hero-right-side {
  width: 50%;
  background-color: #e2e2e2;
}

.hero-right-side::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 15rem;
  height: 26rem;
  border: 0.625rem solid #e2e2e2;
  border-left: none;
}

.left-side-content {
  position: relative;
  z-index: 1;
}

.right-side-content {
  width: 100%;
  background-image: url(../images/profile.png);
  background-size: cover;
  position: relative;
}

/* HERO end */
/* CONTACT SECTION start */
.about {
  background-color: #e2e2e2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about p {
  text-align: justify;
  padding: 1.25rem 2.5rem;
}

.about .about-content {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1.875rem;
  -webkit-box-shadow: 4px 4px 7px 0px #706a70;
  box-shadow: 4px 4px 7px 0px #706a70;
}

.about .about-element {
  width: 33.33%;
  text-align: center;
  padding: 2.5rem 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about .self {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.hexagon {
  width: 12.5rem;
  height: 6.875rem;
  background: #e2e2e2;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../images/vector.png);
  background-size: cover;
  z-index: 1;
}

.hexagon::before {
  content: "";
  position: absolute;
  top: -3.125rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 6.25rem solid transparent;
  border-right: 6.25rem solid transparent;
  border-bottom: 3.125rem solid #e2e2e2;
}

.hexagon::after {
  content: "";
  position: absolute;
  bottom: -3.125rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 6.25rem solid transparent;
  border-right: 6.25rem solid transparent;
  border-top: 3.125rem solid #e2e2e2;
}

/* CONTACT SECTION end */
/* SERVICES start */
.services .container {
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service-title {
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2.5rem 6.25rem 0.4rem 0;
}

.services {
  background-color: #fff;
}

.services .services-content {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services .service {
  width: 33.33%;
  padding: 1.25rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services .service i {
  font-size: 5rem;
  color: #ff8080;
  padding: 2rem 0;
}

.services .service p {
  padding: 1rem 2rem;
}

.services .service p:last-child {
  text-align: justify;
}

.text-part {
  text-align: center;
}

/* SERVICES end */
/* MASONRY start */
.grid {
  margin: 1.562rem;
}

.grid-item {
  width: 25%;
  padding: .625rem;
  position: relative;
}

.grid-item .img:hover {
  content: "";
  opacity: 0.7;
}

.grid-item .img:hover::before {
  content: "View project";
  text-align: center;
  font-size: 70%;
  text-transform: uppercase;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  padding: 1.25rem;
  border: 2px solid #ff8080;
  border-radius: 90%;
  background-color: #ff8080;
  width: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.works {
  background-color: #e2e2e2;
}

.works .container {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem 0;
  -webkit-box-shadow: 4px 4px 7px 0px #706a70;
  box-shadow: 4px 4px 7px 0px #706a70;
}

.fancy-box-slide {
  display: none;
  min-width: 50%;
  min-height: 50%;
  background-color: #ff8080;
}

.fancy-box-slide i {
  font-size: 3.75rem;
  color: #212121;
  display: inline-block;
}

.categorys-list {
  width: 100%;
}

.categorys-list a {
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Encode Sans", sans-serif;
  color: #212121;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

.categorys-list a:hover {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ff8080;
  text-decoration-color: #ff8080;
  -webkit-text-decoration: 3px;
  text-decoration: 3px;
}

.categorys-list li {
  list-style: none;
  padding: .32rem;
}

/* MASONRY end */
/* CONTACT SECTION start */
.contact {
  background-color: #fff;
  min-height: 100vh;
}

.contact .container {
  width: 100%;
}

.contact-left-side {
  width: 50%;
  margin-top: 5rem;
}

.contact-left-side h3 {
  padding: .625rem;
}

.contact-left-side .rotate {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.contact-right-side {
  width: 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-right-side .contact-content-box {
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-right-side .item-box {
  width: 100%;
  padding: 1.25rem 0 0 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-right-side .item-text {
  width: 100%;
  padding-left: 1.562rem;
}

.contact-right-side h3 {
  padding: 1.25rem 0;
}

.contact-right-side i {
  font-size: 3rem;
  padding: .625rem;
  color: #212121;
}

.contact-right-side i:hover {
  color: #ff8080;
}

.contact-form {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  display: block;
  width: 100%;
}

.contact-form p {
  margin: 1.25rem 2.5rem;
  text-align: justify;
}

.contact-form form {
  padding: 2.5rem 2.5rem 0;
}

.contact-form .input-box-size {
  width: 100%;
  margin-top: .625rem;
  margin-bottom: .625rem;
}

.contact-form .form-style {
  padding: 1rem;
  border: 1px solid #e2e2e2;
  color: #212121;
  border-radius: 2px;
  font-size: .75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.contact-form .submit {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* CONTACT SECTION end */
/* RESPONSIVE start */
@media all and (max-width: 900px) {
  .about .about-element {
    width: 100%;
  }
  .about-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid-item {
    width: 33.33%;
  }
  .contact-left-side .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact-left-side .rotate {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media all and (max-width: 800px) {
  .contact .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact-left-side {
    width: 100%;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-right-side {
    width: 100%;
  }
  .contact-right-side p {
    font-size: .8rem;
  }
  .contact-right-side i {
    font-size: 2rem;
  }
  .services-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .services .service {
    width: 100%;
  }
  .service i {
    font-size: 2rem;
  }
  .service-title {
    padding-left: none;
  }
  .grid-item {
    width: 50%;
  }
  .social-nav {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .copy-right {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .copy-right p {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .main-nav {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .show {
    display: block;
  }
  .menu-item {
    width: 100%;
    margin-top: .4rem;
    text-align: right;
  }
  .burger {
    display: block;
    text-align: right;
  }
  .button {
    font-size: 0.7rem;
  }
  [data-integer]::before {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  .grid-item {
    width: 100%;
  }
}

/* RESPONSIVE end */
